* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #d5a021;
}
.container {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.game {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box {
  height: 14vh;
  width: 14vw;
  margin: 1rem;
  background-color: #a49694;
  border: none;
  border-radius: 10%;
  box-shadow: 10px 10px 30px black;
}
h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #ede7d9;
}

.reset-btn {
  padding: 0.8rem;
  font-size: 1.5rem;
  border: none;
  background-color: #4b4237;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 6rem;
}
